<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Projects_Page</title>
	<link rel="stylesheet" href="../../css/global.css">
	<link rel="stylesheet" href="../../css/styles.css">
	<link rel="stylesheet" href="../../css/mobile.css">
</head>

<body>
	<div>
		<div class="projects_container">
			<main class="projects_main">
				<div class="projects_header">
					<h2>Our Projects!</h2>
				</div>
				<!-- 1 -->
				<div>
					<div class="projects_code_block">
						<code><a target="blank" href="https://deepwebdevelopers.github.io/discord-bot-guide/">Discord Bot Guide</a></code>
					</div>
					<div class="projects_text">
						<br>
						<div>
							<p>Ever want to create a discord bot? If so you may be surprised by how simple it is.</p>
							<p>Discord bots can be written in many different languages but the most common are
								Javascript and python.</p>
							<p>Click on the title above to head to our website. It will give you a starting point on
								creating discord bots.</p>
						</div>
						<br>
						<!-- 2 -->

						<div class="projects_code_block">
							<code><a target="blank" href="https://github.com/DeepWebDevelopers/Terminal">Terminal</a></code>

						</div>
						<br>
						<p>
							<this_custom_thing>Terminal is a Discord bot writen in JavaScript. <a
									href="">@ThatGuyJamal</a> has been working on the bot solo. More information coming
								soon.</this_custom_thing>
						</p>
						<p>THe bot is still under development and will not have the public code for a while. Join our
							discord for updates.</p>
					</div>
				</div>
				<br>


				<div class="main_link">
					<a href="../../index.html">Back</a>
				</div>
			</main>
		</div>
	</div>
	</div>
	<!-- ! Page footer -->
	<footer class="footer">
		<a href="https://github.com/ThatGuyJamal" target="_blank" rel="noopener noreferrer" alt="Footer link to Nextjs">
			Powered by ThatGuyJamal
			<img src="../../public/img/github/PNG/GitHub-Mark-Light-32px.png" alt="github logo"></img>
		</a>
	</footer>
	</div>

	<script>
		console.log("Loading Projects Page")
	</script>
</body>

</html>